<div class="wrapper wrapper-content">
<div class="row animated fadeInLeft">
  <div class="col-lg-12">
    <div class="ibox-title">
      <h1>Available Consultation Slots</h1>
    </div>
    <div class="ibox-content">
      <table class="footable table table-stripped default footable-loaded" data-page-size="8" data-filter="#filter" style="overflow-y: auto; width: 100%; height: 350px;">
          <thead>
            <tr>
              <td class="footable-visible footable-first-column" style="font-size:16px;color:#898AA6"><strong>Time</strong></td>
              <% for date in @dates %>
                  <td class="footable-visible"style="font-size:16px;color:#898AA6"><strong><%= date.strftime("%a %b %d") %></strong></td>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% for slots_array in @slots_arrays %>
            <tr class="gradeX footable-even" style="display: table-row;">
              <td class="footable-visible footable-first-column"style="font-size:16px;color:#898AA6"><strong><%= (@time + @count*30*60).strftime("%H:%M") %></strong></td>
              <%= puts "for time "+(@time + @count*30*60).hour.to_s+":"+(@time + @count*30*60).min.to_s %>
              <%= puts"slot1";puts slots_array[0] %>
              <% for date in @dates %>
                <%= puts "for date:"+date.to_s %>
                <% found = false; %>
                <% for slot in slots_array %>
                <%= puts "for slot: "+slot.to_s %>
                  <% if slot.date == date %>
                    <td class="footable-visible open" id="<%= slot.id %>"><a href="/patient/consults/new#<%= slot.id %>#slot" class="btn btn-lg btn-pink" style="color:#fff">OPEN</a></td>
                    <%= puts "slot.date == date" %>
                    <% found = true; %>
                    <% break %>
                  <% end %>
                <% end %>
                <!-- If Note Spot found for date & time, then put None-->
                <% if found == false %>
                  <td class="footable-visible footable-first-column"><span class="footable-toggle"></span>Not Available</td>
                <% end %>
              <% end %>
            </tr>
          <% @count = @count + 1 %>
          <% end %>
           </tbody>
           <tfoot>
          <tr>
              <td colspan="8" class="footable-visible">
              </td>
          </tr>
          </tfoot>
      </table>


    </div>
  </div>
</div>
</div>



<% content_for :javascript do %>
<script type="text/javascript">

</script>
<% end %>
