<div class="pace  pace-inactive"><div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
<div class="pace-progress-inner"></div>
</div>
<div class="pace-activity"></div></div>

<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" style="border-color:#fff">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/"><%= image_tag('logos/fiver_no_tagline4.png',width:'30%',class:"navbar-brand") %></a>
            <% if patient_signed_in? %>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li ><a class="page-scroll" href="/how-it-works">How It Works</a></li>
                        <li class="active"><a href="/about-us">About Us</a></li>
                        <li><a href="/doctor">For Doctors</a></li>
                        <li class="" style="margin-left:20px"><a id="btn-top" href="/patient/dashboard"><i class="fa fa-desktop"></i>Dashboard</a></li>
                        <li class="" style="margin-left:20px"><a id="btn-top" href="<%= patient_signout_url %>"><i class="fa fa-sign-out"></i>Log Out</a></li>
                   </ul>
                </div>
            <% else %>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li ><a class="page-scroll" href="/how-it-works">How It Works</a></li>
                        <li class="active"><a href="/about-us">About Us</a></li>
                        <li><a href="/doctor">For Doctors</a></li>
                        <li class="" style="margin-left:20px"><a id="btn-top" href="/#register-form">Register</a></li>
                   </ul>
                </div>
            <% end %>
            </div>
        </div>
    </nav>
</div>

<div id="inSlider" class="carousel carousel-fade comments" data-ride="carousel" style="height:350px;">

 <div class="carousel-inner" role="listbox" style="height:350px">
    <div id="about-us" class="item active">
        <div class="container">
            <div class="carousel-caption blank">
                <h1 style="text-shadow: 1px 2px 2px #f68985; font-size:60px">About Us</h1>
                <p style="text-transform:none;font-weight:500; font-size:20px">Trying to make our community healthier & happier.</p>
            </div>
        </div>
    </div>
</div>
</div>

<section style="margin-top:40px; margin-bottom:40px;" class="container" id="mission">
    <div class="row text-left">
        <div class="col-sm-9">
            <h1 style="color:#f68985">Our Mission</h1>
            <div class="navy-line" style="border-bottom: 1px solid #f68985;margin-top:0px;margin-bottom:20px; width:100%;"></div>
            <p>We are passionate about achieving our mission of <span style="color:#f68985;font-weight:200;font-size:25px">enabling all Africans to live healthier, longer, happier lives no matter their income levels</span>. We seek to achieve this mission through a three-pronged strategy:</p>
        </div>
    </div>
    <div class="row text-left" style="">
        <div class="col-sm-2">
            <%= image_tag("about-us/pig.png", width:"80%",style:"padding-top:20px")%>
        </div>
        <div class="col-sm-9">
            <h2 style="color:#f68985;padding-top:0;">Affordable Pricing</h2>
            <p>We fight voraciously to keep our costs low and thus our prices at affordable rates for all income groups. When we pursue strategies to reach the most disadvantaged communities, we will likely charge at little to no profit in order to uphold this statute.</p>
        </div>
    </div>
     <div class="row text-left" style="">
        <div class="col-sm-2">
            <%= image_tag("about-us/gears.png", width:"80%",style:"padding-top:50px")%>
        </div>
        <div class="col-sm-9">
            <h2 style="color:#f68985;padding-top:0;">Advanced & Optimized Technology</h2>
            <p>We have and continue to develop our technologies with rigorous user testing & optimization the local context; notably we adapt for low-bandwidth conditions and older computer & browser usage. Moreover, our company houses strong expertise in machine learning & computer science, allowing us to utilize generate data for impactful purpose not possible before.</p>
        </div>
    </div>
    <div class="row text-left" style="">
        <div class="col-sm-2">
            <%= image_tag("about-us/hand.png", width:"80%",style:"padding-top:30px")%>
        </div>
        <div class="col-sm-9">
            <h2 style="color:#f68985;padding-top:0;">Partnerships</h2>
            <p>We greatly recognize the importance of partnerships with both medical schemes to lessen patients' out-of-pocket burden and clinics & NGOs who can provide the infrastructure to reach the lowest income groups. We will continue to capitalize on the company's large networks in South Africa and the continent at large.</p>
        </div>
    </div>
    </div>
</section>

<section class="container" id="team">
    <div class="row text-left">
        <div class="col-sm-10">
            <h1 style="color:#f68985">Our Team</h1>
            <div class="navy-line" style="border-bottom: 1px solid #f68985;margin-top:0px;margin-bottom:20px; width:100%;"></div>
            <p>Our team is passionate about improving healthcare access & affordability across Africa and we have the drive & skillset to make this vision a reality.</p>
        </div>
    </div>
    <div class="row text-center" style="margin-top:20px;">
    <div class="col-sm-2 team-box">
        <div class="team-content">
            <a class="team-pic" id="melissa" href="https://uk.linkedin.com/in/melissalmccoy"><%= image_tag("team/melissa_sq.png",width:"100%") %></a>
             <a href="https://uk.linkedin.com/in/melissalmccoy" class="expand"><div class="overlay"></div></a>
        </div>
    </div>
    <div class="col-sm-2 team-box">
        <div class="team-content">
            <a class="team-pic" id="zweli" href="https://za.linkedin.com/pub/zwelijongile-oyena-gwebityala/15/705/9abs"><%= image_tag("team/zweli_sq.png",width:"100%") %></a>
        </div>
    </div>
    <div class="col-sm-2 team-box">
        <div class="team-content">
            <a class="team-pic" id="allan" href="https://za.linkedin.com/in/allanroysekeitto"><%= image_tag("team/allan_sq.png",width:"100%") %></a>
        </div>
    </div>
    <div class="col-sm-2 team-box">
        <div class="team-content">
            <a class="team-pic" id="hangwi" href="https://uk.linkedin.com/in/hangwani-hangwi-muambadzi-0b307924"><%= image_tag("team/hangwi_sq.png",width:"100%") %></a>
        </div>
    </div>
    <div class="col-sm-2 team-box">
        <div class="team-content">
            <a class="team-pic" id="mirko" href="https://www.linkedin.com/in/mirko-maier-43756b55"><%= image_tag("team/mirko_sq.png",width:"100%") %></a>
        </div>
    </div>
</div>
<div class="row text-center" style="margin-top:10px">
    <div class="col-sm-2 team-box">
        <div class="team-content">
            <a class="team-pic" id="thula" href="https://za.linkedin.com/in/thula-siluma-784417a8"><%= image_tag("team/thula_sq.png",width:"100%") %></a>
        </div>
    </div>
    <div class="col-sm-2 team-box">
        <div class="team-content">
            <a class="team-pic" id="rowan" href="https://uk.linkedin.com/in/rowan-nicholls-28b75551"><%= image_tag("team/rowan_sq.png",width:"100%") %></a>
        </div>
    </div>
    <div class="col-sm-2 team-box">
        <div class="team-content">
            <a class="team-pic" id="zaidat" href="https://www.linkedin.com/in/zaidat-nafiya-ibrahim-03809526"><%= image_tag("team/zaidat_sq.png",width:"100%") %></a>
        </div>
    </div>
    <div class="col-sm-2 team-box">
        <div class="team-content">
            <a class="team-pic" id="juan" href="https://pe.linkedin.com/in/juan-gabriel-herrera-indacochea-45779216/en"><%= image_tag("team/juan_sq.png",width:"100%") %></a>
        </div>
    </div>
    <div class="col-sm-2 team-box">
        <div class="team-content">
            <a class="team-pic" id="hong" href="https://uk.linkedin.com/in/hongzhou76"><%= image_tag("team/hong_sq.png",width:"100%") %></a>
        </div>
    </div>
    </div>
</section>


<section style="margin-top: 0;padding-bottom:50px;">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h2 style="color:#f68985">Interest in Joining the Team?</h2>
            <a href="mailto:recruitment@connectmed.co.za" class="btn btn-pink" style="color:#fff">Contact Us</a>
        </div>
    </div>
</div>
</section>



<% content_for :javascript do %>

<script type="text/javascript">


$(document).ready(function () {
    // MELISSA JS
her    // If Click Carousel BUtton, go to form
    $('#notreat').click(function(){
        $("#notreatModal").modal('show');
    })

    //Check redirection
    var anchor_value;
    var stripped_url = document.location.toString().split("#");
    if (stripped_url.length > 1)
        anchor_value = stripped_url[1];
    //Checks if Redirected from Register Form Succseefully & If So Show Modal
    if (anchor_value == "create-confirm")
        $("#createModal").modal('show');
    //Checks if redirect from register form with errror then scroll back to form
    else if (anchor_value == "create-error")
        $("html, body").animate({ scrollTop: $('#register-form').offset().top + 1000 }, 1000);

    $('body').addClass('landing-page');
    $('body').attr('id', 'page-top');

    $('body').scrollspy({
        target: '.navbar-fixed-top',
        offset: 80
    });

    //TEAMPLATE JS
    // Page scrolling feature
    $('a.page-scroll').bind('click', function(event) {
        var link = $(this);
        $('html, body').stop().animate({
            scrollTop: $(link.attr('href')).offset().top - 50
        }, 500);
        event.preventDefault();
    });

    var cbpAnimatedHeader = (function() {
        var docElem = document.documentElement,
                header = document.querySelector( '.navbar-default' ),
                didScroll = false,
                changeHeaderOn = 200;
        function init() {
            window.addEventListener( 'scroll', function( event ) {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( scrollPage, 250 );
                }
            }, false );
        }
        function scrollPage() {
            var sy = scrollY();
            if ( sy >= changeHeaderOn ) {
                $(header).addClass('navbar-scroll')
            }
            else {
                $(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();

    new WOW().init();
});


</script>

<% end %>
