<div class="pace  pace-inactive"><div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
<div class="pace-progress-inner"></div>
</div>
<div class="pace-activity"></div></div>

<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" style="border-color:#fff">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/"><%= image_tag('logos/fiver_no_tagline4.png',width:'30%',class:"navbar-brand") %></a>
            <% if patient_signed_in? %>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active" ><a class="page-scroll" href="/how-it-works">How It Works</a></li>
                        <li ><a href="/about-us">About Us</a></li>
                        <!-- <li><a href="/doctor">For Doctors</a></li> -->
                        <li class="" style="margin-left:20px"><a id="btn-top" href="/patient/dashboard"><i class="fa fa-desktop"></i>Dashboard</a></li>
                        <li class="" style="margin-left:20px"><a id="btn-top" href="<%= patient_signout_url %>"><i class="fa fa-sign-out"></i>Log Out</a></li>
                   </ul>
                </div>
            <% else %>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="active"><a class="page-scroll" href="/how-it-works">How It Works</a></li>
                        <li><a href="/about-us">About Us</a></li>
                        <!-- <li><a href="/doctor">For Doctors</a></li> -->
                        <li class="" style="margin-left:20px"><a id="btn-top" href="/#register-form">Register</a></li>
                   </ul>
                </div>
            <% end %>
            </div>
        </div>
    </nav>
</div>

<div id="inSlider" class="carousel carousel-fade " data-ride="carousel" style="height:350px;">

 <div class="carousel-inner" role="listbox" style="height:350px">
    <div class="item active" style="height:350px;background:#898AA6;">
        <div class="container">
            <div class="carousel-caption blank">
                <h1 style="text-shadow: 1px 1px 1px #898AA6; font-size:60px">How It Works</h1>
                <p style="text-transform:none;font-weight:500; font-size:20px">The fastest, easiest way to see a doctor from the comfort of home.</p>
            </div>
        </div>
    </div>
</div>
</div>

<section style="margin-top:40px" class="container">
    <div class="row text-left">
        <div class="col-sm-9">
            <h1 style="color:#f68985">3 Easy Steps to Feeling Better Today</h1>
            <div class="navy-line" style="border-bottom: 1px solid #f68985;margin-top:0px;margin-bottom:20px; width:100%;"></div>
            <p>You may wonder: Can a doctor really treat me without seeing me in person? The answer: Absolutely! Nearly 70% of GP visits in the US & UK can be handled by video consultation and we estimate at least 40% of visits in South Africa can be as well.</p>
        </div>
    </div>
    <div class="row text-left" style="margin: 25px 0">
        <div class="col-sm-4">
            <%= image_tag("how-it-works/step3.png", width:"40%")%>
            <h2 style="">Request a Visit</h2>
            <p>You can request to see a doctor for a 20 minute consultation immediately or at pre-specified available times. On-demand consults are currently only available on Saturday & Sunday from 8am - 10pm, while scheduled consults are available throughout the week.</p>
        </div>
        <div class="col-sm-4">
            <%= image_tag("how-it-works/step2.png", width:"40%")%>
            <h2>See a Doctor</h2>
            <p>Securely and privately have your consultation wherever you see fit. You can use your computer, tablet, or smartphone. Once your consultation is complete, you can immediately access your doctor's treatment notes, download your prescription, and more through your dashboard.</p>
        </div>
        <div class="col-sm-4">
            <%= image_tag("how-it-works/step1.png", width:"40%")%>
            <h2>Get Your Treatment</h2>
            <p>Our doctors can provide medical advice, diagnose, treat, prescribe and even refer you onto a specialist. If you need a prescription, it will be instantly sent to your inbox and soon we'll offer automatic fufillment to your chosen pharmacy. We provide the right care when you need it most.</p>
        </div>
    </div>
</section>

<section class="container">
    <div class="row text-left">
        <div class="col-sm-9">
            <h1 style="color:#f68985">Simple Pricing</h1>
            <div class="navy-line" style="border-bottom: 1px solid #f68985;margin-top:0px;margin-bottom:20px; width:100%;"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 text-center">
            <%= image_tag("how-it-works/price399.png", width:"80%")%>
        </div>
        <div class="col-sm-8 text-left">
            <h1 style="color:#BBBDDB;padding-top:15px">Pay just R399 for each visit. No subscriptions. No hidden costs.</h1>
             <a class="btn btn-lg btn-primary" style="color:#fff" href="/#register-form">Register for Early Access & Discounts</a>
        </div>
    </div>
</section>

<section class="container services">
<div class="row text-left">
    <div class="col-sm-9">
        <h1 style="color:#f68985">What We Treat</h1>
        <div class="navy-line" style="border-bottom: 1px solid #f68985;margin-top:0px;margin-bottom:20px; width:100%;"></div>
        <p>Our physicians can treat a host of common illnesses quickly and effectively through a video visit. Here are the most common reasons people use the service:</p>
    </div>
</div>
<div class="row text-left" style="color:#898AA6">
    <div class="col-sm-4">
        <h2>Cold & Flu symptoms<h2>
        <h2>Cough<h2>
        <h2>Sinus Infection<h2>
        <h2>Sore throat<h2>
        <h2>Urinary Tract Infections<h2>
        <h2>Vomiting/Diarrhoea<h2>
    </div>
     <div class="col-sm-4">
        <h2>Conjunctivitis (eye infection)<h2>
        <h2>Back Pain<h2>
        <h2>Sporting Injuries<h2>
        <h2>Headache<h2>
        <h2>Allergies<h2>
        <h2>Gastric Problems such as heartburn, irritable bowel syndrome<h2>
    </div>
     <div class="col-sm-4">
        <h2>Insomnia<h2>
        <h2>Skin Conditions<h2>
        <h2>Sexual health advice and contraception<h2>
        <h2>Children’s health and common illnesses<h2>
        <h2>Anxiety & Depression<h2>
    </div>
    <div class="col-sm-12 text-left">
        <a href="#" id="notreat" class="btn btn-pink" style="color:#fff">What don't we treat?</a>
    </div>
</div>
</section>
<div class="modal inmodal text-left" id="notreatModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-body" style="max-height: 600px; overflow-y: auto;">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h1 class="modal-title text-center" style="color:#898AA6">What We Don't Treat</h1>
                <h2 style="color:#f68985">Cancer or Other Complex Conditions</h2>
                <p style="color:#898AA6">Patients who have complex, tertiary medical problems that they have been dealing with for years are not likely to have a short term resolution to their problem and more likely to have aspects of their medical history that would be important to their diagnosis and treatment. Furthermore, their symptoms are more likely to present in uncommon ways and in certain cases require advanced testing such as medical imaging to ascertain the diagnosis.</p>
                <h2 style="color:#f68985">Emergency Conditions</h2>
                <p style="color:#898AA6">If a medical emergency arises, it is best to go straight to the Accident & Emergency (A&E). Here are some of the few medical emergencies we recommend you visit A&E for: chest pain, severe abdominal pain, suspected stroke, severe infections, obstetric/pregnancy complications, traumatic injuries, haemorrhage, severe mental health such as severe depression, severe anxiety, psychosis or mania.</p>
                <h2 style="color:#f68985">Chronic Conditions</h2>
                <p style="color:#898AA6">Having a chronic condition means you’re dealing with your condition and its symptoms on a constant basis. It can also mean regular and frequent visits with your doctor as well, which can be very time-consuming. For the most effective treatment of chronic conditions, it’s important to see your primary care physician. ConnectMed is not intended to replace the care you receive from your primary care physician, though we intend to soon add services to support chronic care management efforts.</p>
            </div>
        </div>
    </div>
</div>

<section class="container">
    <div class="row text-left">
        <div class="col-sm-9">
            <h1 style="color:#f68985">Innovating for Your Health</h1>
            <div class="navy-line" style="border-bottom: 1px solid #f68985;margin-top:0px;margin-bottom:20px; width:100%;"></div>
            <p>Beyond doctor video consultations, we're constantly working on new innovations that improve your quality of care and make your life easier.</p>
        </div>
    </div>
    <div class="row text-center" style="margin:20px 0 40px 0">
        <div class="col-sm-4">
            <%= image_tag("how-it-works/checklist2.png", width:"25%")%>
            <h2 style="">Symptom Checker</h2>
            <p>We're developing a patient-facing application that advises you on if and how urgently you need medical care based on your symptoms and history. We've used UK patient data for initial training of the machine learning model and will increase its accuracy with data collected through the platform.</p>
        </div>
        <div class="col-sm-4">
            <%= image_tag("how-it-works/heart2.png", width:"25%")%>
            <h2>Vital Signs Detector</h2>
            <p>We're optimizing currently existing machine learning-based algorithms that extract pulse & respiratory rate via facial video footage to work better with all skin tones. This will provide doctors with patient vital sign information during video consultation to aid in their diagnosis.</p>
        </div>
        <div class="col-sm-4">
            <%= image_tag("how-it-works/dashboard2.png", width:"25%")%>
            <h2>Chronic Care Dashboard</h2>
            <p>We want to make your life of managing chronic ailments, like diabetes & hypertension, easier. We're developing several tools you can access on your dashboard to keep track of key personal stats, received advanaced analysis of your progress, and consult a doctor with any questions.</p>
        </div>
    </div>
</section>

<section style="margin-top: 0;padding-bottom:50px;color:#f68985">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>More Questions?</h1>
            <h1>Check Out Our FAQs</h1>
        </div>
    </div>
</div>
</section>



<% content_for :javascript do %>

<script type="text/javascript">


$(document).ready(function () {
    // MELISSA JS
    // If Click Carousel BUtton, go to form
    $('#notreat').click(function(){
        $("#notreatModal").modal('show');
    })

    //Check redirection
    var anchor_value;
    var stripped_url = document.location.toString().split("#");
    if (stripped_url.length > 1)
        anchor_value = stripped_url[1];
    //Checks if Redirected from Register Form Succseefully & If So Show Modal
    if (anchor_value == "create-confirm")
        $("#createModal").modal('show');
    //Checks if redirect from register form with errror then scroll back to form
    else if (anchor_value == "create-error")
        $("html, body").animate({ scrollTop: $('#register-form').offset().top + 1000 }, 1000);

    $('body').addClass('landing-page');
    $('body').attr('id', 'page-top');

    $('body').scrollspy({
        target: '.navbar-fixed-top',
        offset: 80
    });

    //TEAMPLATE JS
    // Page scrolling feature
    $('a.page-scroll').bind('click', function(event) {
        var link = $(this);
        $('html, body').stop().animate({
            scrollTop: $(link.attr('href')).offset().top - 50
        }, 500);
        event.preventDefault();
    });

    var cbpAnimatedHeader = (function() {
        var docElem = document.documentElement,
                header = document.querySelector( '.navbar-default' ),
                didScroll = false,
                changeHeaderOn = 200;
        function init() {
            window.addEventListener( 'scroll', function( event ) {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( scrollPage, 250 );
                }
            }, false );
        }
        function scrollPage() {
            var sy = scrollY();
            if ( sy >= changeHeaderOn ) {
                $(header).addClass('navbar-scroll')
            }
            else {
                $(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();

    new WOW().init();
});


</script>

<% end %>
