<div class="pace  pace-inactive"><div class="pace-progress" data-progress-text="100%" data-progress="99" style="transform: translate3d(100%, 0px, 0px);">
<div class="pace-progress-inner"></div>
</div>
<div class="pace-activity"></div></div>

<div class="navbar-wrapper">
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar" style="border-color:#fff">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/"><%= image_tag('logos/fiver_no_tagline4.png',width:'30%',class:"navbar-brand") %></a>

                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class=""><a class="page-scroll" href="/">How It Works</a></li>
                        <li><a href="">About Us</a></li>
                        <li><a href="">For Doctors</a></li>
                        <li class="" style="margin-left:20px"><a id="btn-top" href="">Sign Up</a></li>
                   </ul>
                </div>
                </div>
        </div>
    </nav>
</div>

<div id="inSlider" class="carousel carousel-fade" data-ride="carousel">

 <div class="carousel-inner" role="listbox">
    <div class="item active">
        <div class="container">
            <div class="carousel-caption blank">
                <h1>On-Demand & Scheduled<br/>Doctor Video Consults</h1>
                <p>Only 300R Per Visit & 50% Off Your First</p>
                    <a class="btn btn-lg btn-primary" href="#" role="button">See A Doctor Now</a>
                </p>
            </div>
        </div>

        <div class="header-back one"></div>

    </div>
</div>
</div>

<section id="features" class="container">
<div class="row text-center">
    <div class="col-sm-12">
        <h1 style="color:#f68985">How It Works</h1>
        <div class="navy-line" style="margin-top:0px;margin-bottom:50px; width:50%;"></div>
    </div>
</div>
<div class="row text-center">
    <div class="col-sm-4">
        <i class="fa fa-calendar features-icon" style="font-size:35px; padding-top: 12px;">
        </i><h2 style="">Request Dr for Now or Later</h2>
        <p>On-Demand Consults Available<br>8am - 10pm, Weekends</p>
        <div class="navy-line" style="width:100%;margin-top:0px;margin-bottom:8px;border-bottom: 1px solid #898AA6;"></div>
        <p>Scheduled Consults Available Throughout the Week</p>
        <div class="navy-line" style="width:100%;margin-top:0px;margin-bottom:8px;border-bottom: 1px solid #898AA6;"></div>
        <p>Launches in May 2016</p>
    </div>
    <div class="col-sm-4">
        <i class="fa fa-user-md features-icon" style="font-size:35px; padding-top: 12px;">
        </i><h2>Have a Consultation</h2>
        <p>See a Doctor for 20 minutes<br>whilst at home, work, or abroad</p>
        <div class="navy-line" style="width:100%;margin-top:0px;margin-bottom:8px;border-bottom: 1px solid #898AA6;"></div>
        <p>Secure online video appointments on your computer, smartphone, or tablet</p>
    </div>
    <div class="col-sm-4">
        <i class="fa fa-medkit features-icon" style="font-size:35px; padding-top: 12px;">
        </i><h2>Get the Right Treatment</h2>
        <p>Highest Quality Medical Advice</p>
        <div class="navy-line" style="width:100%;margin-top:0px;margin-bottom:8px;border-bottom: 1px solid #898AA6;"></div>
        <p>Receive treatment for over 30 common ailments</p>
        <div class="navy-line" style="width:100%;margin-top:0px;margin-bottom:8px;border-bottom: 1px solid #898AA6;"></div>
        <p>Electronic prescriptions instantly sent to your inbox</p>
    </div>
</div>
<div class="row text-center" style="margin-top:20px">
    <div class="col-sm-12"><a class="btn btn-lg btn-pink" style="color:#fff" href="">Learn More</a></div>
</div>
</section>

<section class="comments pink-section" style="margin-top: 0;padding-top:50px">
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <h1>What Our Patients Say</h1>
            <div class="navy-line" style="margin-top:0px;margin-bottom:20px; width:50%;border-bottom: 2px solid #fff;"></div>
        </div>
    </div>
    <div id="inSlider" class="carousel carousel-fade" data-ride="carousel" style="height:100px;">
        <ol class="carousel-indicators">
            <li data-target="#inSlider" data-slide-to="0" class="active"></li>
            <li data-target="#inSlider" data-slide-to="1"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active" style="background:transparent;" >
                <div class="row text-center">
                    <div class="col-sm-1">
                        <p class="left carousel-control">
                            <i class="fa fa-quote-left features-icon" style="font-size:25px; padding-top: 12px; opacity:1; background:#f68985"></i>
                        </p>
                    </div>
                    <div class="col-sm-10">
                        <h2 style="color:#fff">The user experience on the platform is really great, I used it on my ipad and it worked well. I can’t wait for the platform to launch, there are times I get to the doctor just to get a prescription.</h2>
                    </div>
                    <div class="col-sm-1">
                        <p class="left carousel-control">
                            <i class="fa fa-quote-right features-icon" style="font-size:25px; padding-top: 12px; opacity:1; background:#f68985"></i>
                        </p>
                    </div>
                </div>
            </div>
            <div class="item" style="background:transparent;" >
                <div class="row text-center">
                    <div class="col-sm-1">
                        <p class="left carousel-control">
                            <i class="fa fa-quote-left features-icon" style="font-size:25px; padding-top: 12px; opacity:1; background:#f68985"></i>
                        </p>
                    </div>
                    <div class="col-sm-10">
                        <h2 style="color:#fff">As a mother, having a way to quickly check whether I need to take my child to a doctor would be extremely useful.</h2>
                    </div>
                    <div class="col-sm-1">
                        <p class="left carousel-control">
                            <i class="fa fa-quote-right features-icon" style="font-size:25px; padding-top: 12px; opacity:1; background:#f68985"></i>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</section>

<section class="container services">
<div class="row text-center">
    <div class="col-sm-12">
        <h1 style="color:#898AA6">Top Conditions We Treat</h1>
        <p>We treat most common illnesses quickly and effectively through a video doctor visit.</p>
        <div class="navy-line" style="margin-top:0px;margin-bottom:20px; width:50%;"></div>
    </div>
</div>
<div class="row text-center">
    <div class="col-sm-2 col-sm-offset-1 flip-box">
        <div class="flip-content">
            <h3 >Cold & Flu<h3>
            <%= image_tag("symptoms/nose3.png") %>
        </div>
    </div>
    <div class="col-sm-2 flip-box">
        <div class="flip-content">
            <h3>Allergies<h3>
            <%= image_tag("symptoms/flowers.png") %>
        </div>
    </div>
    <div class="col-sm-2 flip-box">
        <div class="flip-content">
            <h3>Sore Throat<h3>
            <%= image_tag("symptoms/throat.png") %>
        </div>
    </div>
    <div class="col-sm-2 flip-box">
        <div class="flip-content">
            <h3>Eye<h3>
            <%= image_tag("symptoms/eye.png") %>
        </div>
    </div>
    <div class="col-sm-2 flip-box">
        <div class="flip-content">
            <h3>Skin<h3>
            <%= image_tag("symptoms/nose3.png") %>
        </div>
    </div>
</div>
<div class="row text-center" style="margin-top:10px">
    <div class="col-sm-2 col-sm-offset-1 flip-box">
        <div class="flip-content">
            <h3>Minor Injuries<h3>
            <%= image_tag("symptoms/wound.png") %>
        </div>
    </div>
    <div class="col-sm-2 flip-box">
        <div class="flip-content">
            <h3>UTIs<h3>
            <%= image_tag("symptoms/excretory.png") %>
        </div>
    </div>
    <div class="col-sm-2 flip-box">
        <div class="flip-content">
            <h3>Diarrhea & Vomiting<h3>
            <%= image_tag("symptoms/belly.png") %>
        </div>
    </div>
    <div class="col-sm-2 flip-box">
        <div class="flip-content">
            <h3>Depression<h3>
            <%= image_tag("symptoms/frown.png") %>
        </div>
    </div>
    <div class="col-sm-2 flip-box">
        <div class="flip-content">
            <h3>Travel<h3>
            <%= image_tag("symptoms/airplane.png") %>
        </div>
    </div>
</div>
</section>

<!-- <section id="team" class="navy-section team" style="padding-top:40px; padding-bottom: 80px;">
<div class="container">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <h1 style="color:#f68985">Select the Service that Fits Your Needs</h1>
            <p style="color: #fff;">Our board-certified physicians and doctorate-level psychologists. Highest quality of care, with a smile.</p>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-sm-4 col-sm-offset-2 text-center" style="background:#BBBDDB; padding-bottom:30px">
                <h2 style="color:#fff">On-Demand Consults</h2>
                <p class="circle">350R</p>
                <p style="color:#fff">Need to see a doctor now? You'll be able to see a doctor right away between 8am and 10pm on Saturdays & Sundays. Soon we'll expand the service to the rest of the weekend.</p>
                <div class="col-sm-12"><a class="btn btn-lg btn-pink" style="color:#fff; margin-top:20px; font-size: 15px;" href="">See Doctor Now</a></div>
        </div>
        <div class="col-sm-4 text-center" style="background:#BBBDDB; padding-bottom:30px; margin-left:30px">
                <h2 style="color:#fff">Scheduled Consults</h2>
                <p class="circle">300R</p>
                <p style="color:#fff">Not ready to see doctor right away or don't need to? Check out the available appointment times today and this week to find a time that works best for you.</p>
                <div class="col-sm-12"><a class="btn btn-lg btn-pink" style="color:#fff; margin-top:20px; font-size: 15px;" href="">Schedule Appointment</a></div>
        </div>
    </div>
</div>
</section> -->

<section id="team" class="navy-section team" style="padding-top:60px; padding-bottom: 80px;">
<div class="container">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <h1 style="color:#f68985">Our Doctors</h1>
            <p style="color: #fff;">Our doctors are Health Professionals Council of South Africa (HPCSA) registered and South African qualified general practice consultants. All doctors are peer selected and reviewed, trained and audited in telemedicine.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-sm-offset-2 wow fadeInDown">
            <div class="team-member">
                <img src="<%= image_path('team/allan.png') %>" class="img-responsive img-circle" alt="" width="100%">
                <h2 style="color:#fff">Dr. Allan-Roy Seiketto</h2>
                <h4 style="color:#f68985">Medical Director</h4>
            </div>
        </div>
        <div class="col-sm-2 wow fadeInDown">
            <div class="team-member">
                <img src="<%= image_path('team/thula.png') %>" class="img-responsive img-circle" alt="" width="100%">
                <h2 style="color:#fff">Dr. Thula Siluma</h2>
                <h4 style="color:#f68985">Clinical Lead</h4>
            </div>
        </div>
        <div class="col-sm-2 wow fadeInDown">
            <div class="team-member">
                <img src="<%= image_path('team/hameed.png') %>" class="img-responsive img-circle" alt="" width="100%">
                <h2 style="color:#fff">Dr. Abdul Khan</h2>
                <h4 style="color:#f68985">Global Health Advisor</h4>
            </div>
        </div>
        <div class="col-sm-2 wow fadeInDown">
            <div class="team-member">
                <img src="<%= image_path('team/rachel.png') %>" class="img-responsive img-circle" alt="" width="100%">
                <h2 style="color:#fff">Rachel<br>Carrell</h2>
                <h4 style="color:#f68985">Telemedicine Advisor</h4>
            </div>
        </div>
    </div>
    <div class="row text-right">
        <div class="col-sm-12"><a class="btn btn-lg btn-pink" style="color:#fff; margin-top:20px; font-size: 15px;" href="">Are You a Doctor?<br>Join the Team!</a></div>
    </div>
</div>
</section>

<section id="contact" class="gray-section contact" style="margin-top:0; padding:30px 0;">
<div class="container">
    <div class="row m-b-lg">
        <div class="col-lg-12 text-center">
            <h1>Press & Awards</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-sm-offset-1">
            <a href="http://www.entrepreneurmag.co.za/entrepreneur-today/local-is-lekker-winning-with-chivas-and-the-venture/"><%= image_tag("press/entrepreneur.png", width:"100%") %> </a>
        </div>
        <div class="col-sm-2">
            <a href="http://mustardseedimpact.com/archives/event/emerge15"><%= image_tag("press/mustard_seed.png", width:"100%") %> </a>
        </div>
        <div class="col-sm-2">
            <a href="http://www.justcurious.co.za/chivas-regal/"><%= image_tag("press/chivas.jpg", width:"100%") %> </a>
        </div>
        <div class="col-sm-2">
            <a href="http://www.venturefestoxford.com/venturefest-2015/photos-from-vf2015/"><%= image_tag("press/venturefest.jpg", width:"100%") %> </a>
        </div>
        <div class="col-sm-2">
            <a href="http://oxcaht.org/portfolio-items/connectmed-2/"><%= image_tag("press/caht2.png", width:"100%") %> </a>
        </div>
    </div>
</div>
</section>


<% content_for :javascript do %>

<script type="text/javascript">


$(document).ready(function () {
    var anchor_value;
    var stripped_url = document.location.toString().split("#");
    if (stripped_url.length > 1)
        anchor_value = stripped_url[1];
    if (anchor_value == "contact-confirm")
        $("#contactModal").modal('show');

    $('body').addClass('landing-page');
    $('body').attr('id', 'page-top');

    $('body').scrollspy({
        target: '.navbar-fixed-top',
        offset: 80
    });

    // Page scrolling feature
    $('a.page-scroll').bind('click', function(event) {
        var link = $(this);
        $('html, body').stop().animate({
            scrollTop: $(link.attr('href')).offset().top - 50
        }, 500);
        event.preventDefault();
    });

    var cbpAnimatedHeader = (function() {
        var docElem = document.documentElement,
                header = document.querySelector( '.navbar-default' ),
                didScroll = false,
                changeHeaderOn = 200;
        function init() {
            window.addEventListener( 'scroll', function( event ) {
                if( !didScroll ) {
                    didScroll = true;
                    setTimeout( scrollPage, 250 );
                }
            }, false );
        }
        function scrollPage() {
            var sy = scrollY();
            if ( sy >= changeHeaderOn ) {
                $(header).addClass('navbar-scroll')
            }
            else {
                $(header).removeClass('navbar-scroll')
            }
            didScroll = false;
        }
        function scrollY() {
            return window.pageYOffset || docElem.scrollTop;
        }
        init();

    })();

    new WOW().init();
});


</script>

<% end %>
