
          <%= form_for(@prescription, url: {action: "update"}) do |f| %>
            <%= fields_for(@consult) do |u| %>
              <div class="form-group">
                  <%= u.label(:internal_notes, "Internal Consult Notes (For Your Use)") %>
                  <%= u.text_area :internal_notes, :required => true, :class => 'form-control', :placeholder => @consult.internal_notes, :type => 'text'  %>
              </div>
              <div class="form-group">
                  <%= u.label(:treatment_descrip, "Treatment Recommendation (Seen by Patient)") %>
                  <%= u.text_area :treatment_descrip, :required => true, :class => 'form-control', :placeholder => @consult.treatment_descrip, :type => 'text'  %>
              </div>
              <div class="form-group">
                  <%= u.label(:treatment_result, "What course of action did you recommend?") %>
                  <select name="consult[treatment_result]" id="consult[treatment_result]" class="form-control m-b">
                    <% if @consult.treatment_result == "Advise Self Care" %>
                      <option value="Advise Self Care" selected="selected">Advise Self Care</option>
                      <option value="Given Prescription">Given Prescription</option>
                      <option value="Advise to see Physical Doctor">Advise to see Physical Doctor</option>
                    <% elsif @consult.treatment_result == "Given Prescription" %>
                      <option value="Advise Self Care">Advise Self Care</option>
                      <option value="Given Prescription" selected="selected">Given Prescription</option>
                      <option value="Advise to see Physical Doctor">Advise to see Physical Doctor</option>
                    <% else %>
                      <option value="Advise Self Care">Advise Self Care</option>
                      <option value="Given Prescription">Given Prescription</option>
                      <option value="Advise to see Physical Doctor" selected="selected">Advise to see Physical Doctor</option>
                    <% end %>
                  </select>
              </div>
            <% end %>
                <div class="form-group">
                    <%= label_tag("Prescription Name") %>
                    <%= f.text_field :name, :class => 'form-control', :required => true, :placeholder => @prescription.name, :type => 'text'  %>
                </div>
                <div class="form-group">
                    <%= label_tag("Prescription Dosage") %>
                    <%= f.text_field :dosage, :class => 'form-control', :required => true, :placeholder => @prescription.dosage, :type => 'text'  %>
                </div>
                <div class="form-group">
                    <%= label_tag("Prescription Notes") %>
                    <%= f.text_field :notes, :class => 'form-control', :placeholder => @prescription.notes, :type => 'text'  %>
                </div>
                <%= f.submit "Update", :class => 'btn btn-primary block m-b' %>
                <% if flash[:error_messages] %>
                  <% for m in flash[:error_messages] %>
                    <div class="alert alert-danger alert-dismissable">
                        <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                        <%= m %>
                    </div>
                  <% end %>
                <% elsif flash[:success_messages] %>
                  <div class="alert alert-success alert-dismissable">
                      <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                      <%= flash[:success_messages]%>
                  </div>
                <% end %>
        <% end %>

