<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <a class="navbar-header page-scroll" href="/"><%= image_tag "logos/CMLogoVertical5.png", width: '80%', style: "margin-bottom:10px;" %></a>
         <%= form_for(:session, url: patients_sessions_path) do |f| %>
            <div class="form-group">
                <%= f.text_field :email, :required => true, :class => 'form-control', :placeholder => 'Email', :type => 'email' %>
            </div>
            <div class="form-group">
                <%= f.password_field :password, :required => true, :class => 'form-control', :placeholder => 'Password', :type => 'password' %>
            </div>
            <%= f.submit "Login", :class => 'btn btn-primary block full-width m-b' %>
            <% if flash[:error_messages] %>
            <div class="alert alert-danger alert-dismissable">
                <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                <%= flash[:error_messages]%>
            </div>
            <% end %>
        <% end %>
        <a href="#">Forgot password?</a>
        <p class="text-muted text-center"><br>Don't have an account yet?</p>
        <%= link_to 'Create an Account', new_patient_path, :class =>"btn btn-sm btn-white" %>
        <p class="m-t"> <small>ConnectMed &copy; 2015</small> </p>
    </div>
</div>
