<div class="wrapper wrapper-content">
  <div class="row animated fadeInLeft">
    <div class="col-sm-8 col-sm-offset-2">
    <div class="ibox">
        <div class="ibox-title">
           <h1>Your Prescription</h1>
           <p>For your consulation with Dr. <%= @consult.doctor.name %> on <%= @consult.created_at.strftime("%m/%d/%Y") %></p>
        </div>
        <div class="ibox-content">
          <div class="row text-center" style="height:400px;">
            <% if @prescription.image_content_type == 'application/pdf' %>
               <iframe src=<%= @prescription.image %> frameborder="0" style="height:400px;width:70%"></iframe>
            <% else %>
              <%= image_tag @prescription.image, width:"70%" %>
            <% end %>
          </div>
        </div>
        <div class="ibox-footer text-center">
            <%= link_to 'Download', download_patient_consult_prescription_path(@consult.id, @prescription.id), :class =>"btn btn-primary"  %>
        </div>
      </div>
    </div>
  </div>
</div>
