
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
<!--
</head>

<body id="page-top" class="index"> -->

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <!-- <div class="intro-heading">Bringing Quality, Convenient, and Affordable Healthcare to South Africa</div> -->
                <div class="intro-heading">We provide South African doctors with a <strong> convenient & rewarding way </strong> of reaching patients via our <strong>online video platform.</strong></div>
                <div class="row">
                    <a href="#product" class="page-scroll btn btn-xl">Learn More</a>
                </div>
            </div>
        </div>
    </header>

    <!-- Product Section -->
    <section id="product" class="bg-light-gray" style="padding-top:90px;">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">ConnectMed Video Consultations</h2>
                    <h3 class="section-subheading text-muted">Treat patients anytime, anywhere via our online platform.</h3>
                    <h2 class="text-left">How it Works</h2>
                </div>
            </div>
             <div class="row">
                <div class="col-lg-12 text-center">
                    <%= image_tag('welcome/HowWorks.png', class: 'img-responsive text-center') %>
                </div>
            </div>
        </div>
        <div class="container">
             <div class="row">
                <div class="col-lg-6 text-left">
                    <h2><br>What We Treat</h2>
                    <div id="menu">
                        <div class="panel list-group">
                            <a class="list-group-item" data-toggle="open" data-target="#ailments" data-parent="#menu"><strong>Common Ailments</strong><span class="glyphicon glyphicon-heart pull-right"></span></a>
                            <div id="ailments" class="sublinks collapse in">
                                <a class="list-group-item" data-toggle="collapse" data-target="#cold"><span class="glyphicon glyphicon-chevron-right"></span> Cough, Cold, Flu & Allergies</a>
                                    <p id="cold" class="collapse indent">Upper respiratory infections are the broad category for flu, sinus infections, bronchitis, runny noses, coughs and colds. These common conditions can often be diagnosed through ConnectMed, keeping you out of the doctor’s office and away from unnecessary germs.</p>
                                <a class="list-group-item" data-toggle="collapse" data-target="#throat"><span class="glyphicon glyphicon-chevron-right"></span> Sore Throat</a>
                                    <p id="throat" class="collapse indent">A sore throat is a very common symptom which could be an indicator of a series of ailments, including many that can often be treated via our video consultations. It can be difficult for a patient to know if they have a Cold, Allergies, Strep Throat, or Tonsillitis unless they visit with a doctor. Our doctors are trained to evaluate your symptoms and, depending on the clinical circumstances, diagnose and treat the various causes of a sore throat specifically through a video visit.</p>
                                <a class="list-group-item" data-toggle="collapse" data-target="#uti"><span class="glyphicon glyphicon-chevron-right"></span> Urinary Tract Infections</a>
                                    <p id="uti" class="collapse indent">Urinary tract infections (UTIs) are a very common condition. In fact, more often than not, when patients come to a doctor they have already experienced the symptoms and have been diagnosed with this condition before. While physicians will sometimes order a urinalysis, in many cases a urinalysis is not necessary to make a diagnosis. Either way, the physician may want to begin treatment before the urinalysis results come back. This is because a urine culture can take 48 hours before it starts growing any bacteria.</p>
                                <a class="list-group-item" data-toggle="collapse" data-target="#injuries"><span class="glyphicon glyphicon-chevron-right"></span> Minor Injuries</a>
                                    <p id="injuries" class="collapse indent">Sports and exercise activities are an important part of any healthy lifestyle. But with increased activity comes the increased risk of injury. In the absence of an obviously severe injury like a broken bone, most doctor’s visits concerning sports injuries are patients looking for reassurance that the injury is not more severe. Sports injuries often fall into either a minor category (ankle sprains, wrist sprains, shoulder or rib soreness) or a severe category (broken bone, severely torn ligament/tendon).</p>
                                <a class="list-group-item" data-toggle="collapse" data-target="#skin"><span class="glyphicon glyphicon-chevron-right"></span> Skin Conditions</a>
                                    <p id="skin" class="collapse indent">Common conditions include rashes, STDs, poison ivy, insect bites, cold sores, psoriasis, bites, contact dermatitis, scrapes, allergies, hives, sores and boils.These conditions are most often diagnosable by visual inspection. An important component of dermatological assessment is recognizing patterns, features, signs and symptoms. Using your computer camera through our platform, you can upload multiple photos safely and directly to your physician who can also store them to assess changes over time. The photos are transmitted with lossless compression giving your doctor a precise view of the tissue.</p>
                            <a class="list-group-item" data-toggle="collapse" data-target="#diarrhea"><span class="glyphicon glyphicon-chevron-right"></span> Diarrhea & Vomiting</a>
                                <p id="diarrhea" class="collapse indent">Diagnosing the cause and determining appropriate treatment of diarrhea typically begins with very focused clinical questions. Your physician may recommend a special diet, over the counter and/or prescription medications, or follow-up care. Our doctor are often able to determine the cause and provide treatment for vomiting during a video consultation by reviewing your medical history, asking questions, and performing an exam.</p>
                            <a class="list-group-item" data-toggle="collapse" data-target="#eye"><span class="glyphicon glyphicon-chevron-right"></span> Eye Conditions</a>
                                <p id="eye" class="collapse indent">Having an issue with one or both eyes can significantly and severely impact a patient’s lifestyle, causing not only pain but the inability to carry out necessary tasks. There are three basic categories: minor issues, moderate issues that require interim care followed by specialist care, and severe issues. Diagnosing the condition and severity often begins with questions about pain, discharge and previous eye damage, and the collection of a patient’s medical history. Then on camera, the physician can have the patient do several eye maneuvers and ask for still photographs to fully assess the eye. </p>
                            </div>
                            <a class="list-group-item" data-toggle="collapse" data-target="#referral" data-parent="#menu" ><strong>Specialist Referrals</strong><span class="glyphicon glyphicon-user pull-right"></span></a>
                                <p id="referral" class="collapse indent">Our doctors can advise you on whether you need a specialist and the type of specialist you should see – saving you guesswork, time and money. It also provides you with privacy allowing you to get a specialists refferal you might feel uncomfortable asking your family doctor for. </p>
                            <a class="list-group-item" data-toggle="collapse" data-target="#second" data-parent="#menu"><strong>Second Opinion</strong><span class="glyphicon glyphicon-ok-circle pull-right"></span></a>
                                <p id="second" class="collapse indent">Our doctors can analyze another doctor's diagnosis through a video consultation with you and any test results adiministered by the other doctor so you feel confident about your treatment plan.</p>
                            <a class="list-group-item" data-toggle="collapse" data-target="#travel" data-parent="#menu"><strong>Travel Clinic</strong><span class="glyphicon glyphicon-plane pull-right"></span></a>
                                <p id="travel" class="collapse indent">Travel is exciting: new places, new foods, new experiences. Unfortunately travel can also bring with it exposure to pathogens, germs and overall stress on your body. Our doctors can assist in all stages of travel. Whether you are about to travel, are currently traveling or have just returned from travel, ConnectMed video consultations are available wherever you have internet access, which can be very assuring!</p>
                            <a class="list-group-item" data-toggle="collapse" data-target="#lab" data-parent="#menu"><strong>Lab Results Analysis</strong><span class="glyphicon glyphicon-zoom-in pull-right"></span></a>
                                <p id="lab" class="collapse indent">Our doctors can analyze your lab results and explain what results mean and how you could take action to improve areas of concern.</p>
                            <a class="list-group-item" data-toggle="collapse" data-target="#record" data-parent="#menu"><strong>Health Record Storage</strong><span class="glyphicon glyphicon-save pull-right"></span></a>
                                <p id="record" class="collapse indent">ConnectMed offers you a free EHR (electronic medical record) that stores all of your personal health information in one secure place online. You can use this to keep your medical history up-to-date and share with your other health care providers.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 text-left">
                    <h2 class="text-left"><br>Why We're Better</h2>
                    <%= image_tag('welcome/WhyAwesome3.png', height: "95%", width: "95%", class: 'img-responsive img-centered') %>
                </div>
            </div>
        </div>
    </div>
            <!-- Clients Aside -->
        <aside class="clients bg-light-gray">
            <div class="container">
                <div class="row">
                    <div class="col-sm-3">
                        <a href="http://www.ox.ac.uk">
                            <%= image_tag('logos/oxford.png', class: 'img-responsive img-centered', height: "95%", width: "95%", alt:"University of Oxford") %>
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a href="http://www.oxcaht.org">
                            <%= image_tag('logos/caht2.png', class: 'img-responsive img-centered', height: "80%", width: "80%", alt: "Oxford's Centre for Affordable Healthcare Technology") %>
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a href="https://www.linkedin.com/company/devtech-consultants">
                            <%= image_tag('logos/devtech5.png', class: 'img-responsive img-centered', height: "110%", width: "110%", alt: "DevTech") %>
                        </a>
                    </div>
                    <div class="col-sm-3">
                        <a href="http://www.venturefestoxford.com/">
                            <%= image_tag('logos/venturefest.jpg', class: 'img-responsive img-centered', alt: "Venturefest Oxford") %>
                        </a>
                    </div>
                </div>
            </div>
        </aside>
    </section>

<!-- Contact Section -->
<section id="contact" class="gray-section contact" style="color: white; background-color:#BBBDDB;">
    <div class="container">
        <div class="row m-b-lg">
            <div class="col-lg-12 text-center">
                <div class="navy-line"></div>
                <h1>Ready to Join?</h1>
                <h3 class="section-subheading text-muted">We'd love to tell you more about serving as a ConnectMed physician and start the interview process with you.</h3>
                <h3>Please <a href="mailto:info@connectmed.co.za" class="btn btn-primary">Email Us</a> with your interested and we'll be in touch within 2 business days.</h3>
            </div>
        </div>

    </div>
</section>

<!-- Mission Section -->
<section id="mission" style="background-image: url(/assets/welcome/missionFront2.png); background-size: 110% 100%;">
    <div class="container">
        <div class="row text-center">
                <h2 class="section-heading" style="margin:0px; color: #40404d;">We seek to enable all South Africans to live healthier, longer, and happier lives.</h2>
        </div>
    </div>
</section>

