<div class="middle-box text-center loginscreen  animated fadeInDown">
    <div>
        <a class="" href="/"><%= image_tag "logos/CMLogoVertical5.png", width: '80%', style: "margin-bottom:10px;" %></a>
         <%= form_for(:session, url: patient_sessions_path) do |f| %>
            <div class="form-group">
                <%= f.text_field :email, :required => true, :class => 'form-control', :placeholder => 'Email', :type => 'email' %>
            </div>
            <div class="form-group">
                <%= f.password_field :password, :required => true, :class => 'form-control', :placeholder => 'Password', :type => 'password' %>
            </div>
            <%= f.submit "Login", :class => 'btn btn-primary block full-width m-b' %>
            <% if flash[:error_messages] %>
                <div class="alert alert-danger alert-dismissable">
                    <button aria-hidden="true" data-dismiss="alert" class="close" type="button">×</button>
                    <%= flash[:error_messages]%>
                </div>
            <% end %>
        <% end %>
        <p class="text-muted text-center"><br>Don't have an account yet?</p>
        <%= link_to 'Create an Account', patient_signup_path, :class =>"btn btn-sm btn-white" %>
        <p class="m-t"> <small>ConnectMed &copy; 2015</small> </p>
    </div>
</div>


<div class="modal inmodal text-center" id="confirmEmailModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-body" style="max-height: 500px; overflow-y: auto; color:#f68985">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h1 class="modal-title">Welcome to ConnectMed!<br></h1>
                <h4 style="color:#898AA6">Your email has been confirmed. Please sign in to continue.</h4>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal text-center" id="inaccessModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-body" style="max-height: 500px; overflow-y: auto; color:#f68985">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h1 class="modal-title">We're Sorry. Please Sign In.<br></h1>
                <h4 style="color:#898AA6">You must be sign-ined before being able to access the link you navigate to. Please sign in and then try the link again.</h4>
            </div>
        </div>
    </div>
</div>

<% content_for :javascript do %>
<script type="text/javascript">
$(document).ready(function () {
    //Check redirection
    var anchor_value;
    var stripped_url = document.location.toString().split("#");
    if (stripped_url.length > 1)
        anchor_value = stripped_url[1];
    //Checks if Redirected from Register Form Succseefully & If So Show Modal
    if (anchor_value == "confirm-email")
        $("#confirmEmailModal").modal('show');
    if (anchor_value == "inaccess")
        $("#inaccessModal").modal('show');
});
</script>
<% end %>
