<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-lg-6 text-center">
            <div class="ibox">
                <div class="ibox-content" style="height:400px;">
                    <h1>See Doctor Now</h1>
                    <%= image_tag "doctor_circle.png", width: "40%" %>
                    <p><br><%= link_to 'Click Here', new_patient_consult_path, :class =>"btn btn-primary" %></p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 text-center">
            <div class="ibox">
                <div class="ibox-content" style="height:400px;">
                    <h1>Schedule An Appointment</h1>
                    <%= image_tag "nurse_circle.png", width: "40%" %>
                    <p><br><%= link_to 'Click Here', schedule_patient_slots_path, :class =>"btn btn-primary" %></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal inmodal text-center" id="scheduledConsultModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <i class="fa fa-clock-o modal-icon"></i>
                <h4 class="modal-title">Your ConnectMed Consultation is Confirmed</h4>
                <small>The below details have been sent to your email address. We look forward to serving you soon!</small>
            </div>
            <div class="modal-body text-left" style="max-height: 350px; overflow-y: auto;">
                <ul>
                    <li><strong>Consult Time:  </strong><%= current_patient.consults.last.slot.nil? ? "No time" : current_patient.consults.last.slot.time %></li>
                    <li><strong>Consult URL:  </strong><%= current_patient.consults.last.nil? ? "No url" : patient_consult_url(current_patient.consults.last) %></li>
                    <li><strong>Purpose of Visit:  </strong><%= current_patient.consults.last.nil? ? "No purpose" : current_patient.consults.last.purpose_descrip %></li>
                </ul>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<% content_for :javascript do %>

<script type="text/javascript">

$(function() {

    var anchor_value;
    var stripped_url = document.location.toString().split("#");
    if (stripped_url.length > 1)
        anchor_value = stripped_url[1];
    //Checks if Redirected from Register Form Succseefully & If So Show Modal
    if (anchor_value == "scheduled-consult")
        $("#scheduledConsultModal").modal('show');

    setTimeout(function() {
        toastr.options = {
            closeButton: true,
            progressBar: true,
            showMethod: 'slideDown',
            timeOut: 4000
        };
        toastr.success('Responsive Admin Theme', 'Welcome to INSPINIA');

    }, 1300);

    $(".bar_dashboard").peity("bar", {
        fill: ["#898AA6", "#d7d7d7"],
        width: 100
    })

    $("#sparkline8").sparkline([5, 6, 7, 2, 0, 4, 2, 4, 5, 7, 2, 4, 12, 14, 4, 2, 14, 12, 7], {
        type: 'bar',
        barWidth: 8,
        height: '150px',
        barColor: '#898AA6',
        negBarColor: '#c6c6c6'
    });

    var updatingChart = $(".updating-chart").peity("line", { fill: '#898AA6', stroke: '#169c81', width: 64 })

    setInterval(function () {
        var random = Math.round(Math.random() * 10)
        var values = updatingChart.text().split(",")
        values.shift()
        values.push(random)

        updatingChart
                .text(values.join(","))
                .change()
    }, 1000);

    var data1 = [
        [0, 4], [1, 8], [2, 5], [3, 10], [4, 4], [5, 16], [6, 5], [7, 11], [8, 6], [9, 11], [10, 30], [11, 10], [12, 13], [13, 4], [14, 3], [15, 3], [16, 6]
    ];
    var data2 = [
        [0, 1], [1, 0], [2, 2], [3, 0], [4, 1], [5, 3], [6, 1], [7, 5], [8, 2], [9, 3], [10, 2], [11, 1], [12, 0], [13, 2], [14, 8], [15, 0], [16, 0]
    ];
    $("#flot-dashboard-chart").length && $.plot($("#flot-dashboard-chart"), [
        data1, data2
    ],
            {
                series: {
                    lines: {
                        show: false,
                        fill: true
                    },
                    splines: {
                        show: true,
                        tension: 0.4,
                        lineWidth: 1,
                        fill: 0.4
                    },
                    points: {
                        radius: 0,
                        show: true
                    },
                    shadowSize: 2
                },
                grid: {
                    hoverable: true,
                    clickable: true,
                    tickColor: "#d5d5d5",
                    borderWidth: 1,
                    color: '#d5d5d5'
                },
                colors: ["#898AA6", "#464f88"],
                xaxis: {
                },
                yaxis: {
                    ticks: 4
                },
                tooltip: false
            }
    );

    var doughnutData = [
        {
            value: 300,
            color: "#a3e1d4",
            highlight: "#898AA6",
            label: "App"
        },
        {
            value: 50,
            color: "#dedede",
            highlight: "#898AA6",
            label: "Software"
        },
        {
            value: 100,
            color: "#b5b8cf",
            highlight: "#898AA6",
            label: "Laptop"
        }
    ];

    var doughnutOptions = {
        segmentShowStroke: true,
        segmentStrokeColor: "#fff",
        segmentStrokeWidth: 2,
        percentageInnerCutout: 45, // This is 0 for Pie charts
        animationSteps: 100,
        animationEasing: "easeOutBounce",
        animateRotate: true,
        animateScale: false,
    };

    var ctx = document.getElementById("doughnutChart").getContext("2d");
    var DoughnutChart = new Chart(ctx).Doughnut(doughnutData, doughnutOptions);

    var polarData = [
        {
            value: 300,
            color: "#a3e1d4",
            highlight: "#898AA6",
            label: "App"
        },
        {
            value: 140,
            color: "#dedede",
            highlight: "#898AA6",
            label: "Software"
        },
        {
            value: 200,
            color: "#b5b8cf",
            highlight: "#898AA6",
            label: "Laptop"
        }
    ];

    var polarOptions = {
        scaleShowLabelBackdrop: true,
        scaleBackdropColor: "rgba(255,255,255,0.75)",
        scaleBeginAtZero: true,
        scaleBackdropPaddingY: 1,
        scaleBackdropPaddingX: 1,
        scaleShowLine: true,
        segmentShowStroke: true,
        segmentStrokeColor: "#fff",
        segmentStrokeWidth: 2,
        animationSteps: 100,
        animationEasing: "easeOutBounce",
        animateRotate: true,
        animateScale: false,
    };
    var ctx = document.getElementById("polarChart").getContext("2d");
    var Polarchart = new Chart(ctx).PolarArea(polarData, polarOptions);

});

</script>

<% end %>
