<div class="wrapper wrapper-content">
<div class="row animated fadeInLeft">
  <div class="col-lg-12">
    <div class="ibox-title">
      <h1>My Past Constulations</h1>
    </div>
    <div class="ibox-content">
      <input type="text" class="form-control input-sm m-b-xs" id="filter" placeholder="Search in Table & Press Enter">
      <table class="footable table table-stripped default footable-loaded" data-page-size="8" data-filter="#filter" style="overflow-y: auto; width: 100%;">
          <thead>
            <tr>
                <th class="footable-visible footable-first-column footable-sortable">Date<span class="footable-sort-indicator"></span></th>
                <th class="footable-visible footable-sortable">Time<span class="footable-sort-indicator"></span></th>
                <th class="footable-visible footable-sortable">Your Patient<span class="footable-sort-indicator"></span></th>
                <th class="footable-visible footable-sortable">Reason For Visit<span class="footable-sort-indicator"></span></th>
                <th data-hide="phone,tablet" class="footable-visible footable-sortable">Consult Notes<span class="footable-sort-indicator"></span></th>
                <th data-hide="phone,tablet" class="footable-visible footable-sortable">Treatment Recommendation<span class="footable-sort-indicator"></span></th>
                <th data-hide="phone,tablet" class="footable-visible footable-sortable">Treatment Description<span class="footable-sort-indicator"></span></th>
                <th data-hide="phone,tablet" class="footable-visible footable-sortable">Prescriptions<span class="footable-sort-indicator"></span></th>
                <th data-hide="phone,tablet" class="footable-visible footable-sortable">Recording<span class="footable-sort-indicator"></span></th>
                <th data-hide="phone,tablet" class="footable-visible footable-last-column footable-sortable"><span class="footable-sort-indicator"></span></th>
            </tr>
          </thead>
          <tbody>
            <% for consult in @consults %>
              <tr class="gradeX footable-even" style="display: table-row;">
                <td class="footable-visible footable-first-column"><span class="footable-toggle"></span><%= consult.created_at.strftime("%m/%d/%Y") %></td>
                <td class="footable-visible"><span class="footable-toggle"></span><%= consult.created_at.strftime("%I:%M%p") %></td>
                <td class="footable-visible"><span class="footable-toggle"></span><%= consult.doctor  ==  nil ? "Doctor Not Seen" : "Dr. "+consult.doctor.name %></td>
                <td class="footable-visible"><span class="footable-toggle"></span><%= consult.purpose_descrip %></td>
                <td class="footable-visible"><span class="footable-toggle"></span><%=
                  if consult.doctor  ==  nil
                    "Doctor Not Seen"
                  elsif consult.internal_notes == nil
                    "Waiting For Doctor's Submission"
                  else
                    consult.internal_notes
                  end
                %></td>
                <td class="footable-visible"><span class="footable-toggle"></span><%=
                   if consult.doctor  ==  nil
                    "Doctor Not Seen"
                  elsif consult.treatment_result == nil
                    "Waiting For Doctor's Submission"
                  else
                    consult.treatment_result
                  end
                %></td>
                <td class="footable-visible"><span class="footable-toggle"></span><%=
                   if consult.doctor  ==  nil
                    "Doctor Not Seen"
                  elsif consult.treatment_descrip == nil
                    "Waiting For Doctor's Submission"
                  else
                    consult.treatment_descrip
                  end
                %></td>
                <td class="footable-visible"><span class="footable-toggle"></span><%=
                   if consult.doctor  ==  nil
                    "Doctor Not Seen"
                  elsif consult.prescriptions.empty?
                    "Waiting For Doctor's Submission"
                  else
                    consult.prescriptions.first.name+", "+consult.prescriptions.first.dosage+", "+consult.prescriptions.first.notes #change to "consult.prescriptions.each {|script| puts script.name}" once implement multiple prescriptions
                  end
                %></td>
                <td class="center footable-visible"><span class="footable-toggle"></span>Coming Soon</td>
                <td class="center footable-visible footable-last-column"><span class="footable-toggle"></span><%= link_to 'Edit', edit_doctor_consult_path(consult), :class =>"btn btn-primary" %></td>
              </tr>
            <% end %>
           </tbody>
           <tfoot>
          <tr>
              <td colspan="8" class="footable-visible">
              </td>
          </tr>
          </tfoot>
      </table>
    </div>
  </div>
</div>
</div>
