    <div class="middle-box text-center loginscreen   animated fadeInDown">
        <% if flash[:error_messages] %>
            <p><%= flash[:error_messages]%></p>
        <% end %>
        <div>
            <a class="navbar-header page-scroll" href="/"><%= image_tag "logos/CMLogoVertical5.png", width: '80%', style: "margin-bottom:10px;" %></a>
             <%= form_for(@patient) do |f| %>
                <div class="form-group">
                    <%= f.text_field :name, :required => true, :class => 'form-control', :placeholder => 'Name', :type => 'text'  %>
                </div>
                <div class="form-group">
                    <%= f.text_field :email, :required => true, :class => 'form-control', :placeholder => 'Email', :type => 'email' %>
                </div>
                <div class="form-group">
                    <%= f.text_field :phone, :class => 'form-control', :placeholder => 'Your Phone', :type => 'text' %>
                </div>
                <div class="form-group">
                    <%= f.password_field :password, :required => true, :class => 'form-control', :placeholder => 'Password', :type => 'password', :minlength => '6' %>
                </div>
                <div class="form-group">
                    <%= f.password_field :password_confirmation, :required => true, :class => 'form-control', :placeholder => 'Confirm Password', :type => 'password', equalTo: "#patient_password" %>
                </div>
                <div class="checkbox"><label><button type="button" class="btn btn-link" data-toggle="modal" data-target="#termsModal"><input type="checkbox" required><i></i>Agree to the Terms & Conditions</button></label></div>
                <div class="modal inmodal" id="termsModal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content animated fadeIn">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                            <i class="fa fa-clock-o modal-icon"></i>
                            <h4 class="modal-title">ConnectMed Patient Terms & Conditions</h4>
                            <small>PLEASE READ THESE TERMS AND CONDITIONS CAREFULLY

                            </small>
                        </div>
                        <div class="modal-body" style="max-height: 350px; overflow-y: auto;">
                            <p>
                                These terms and conditions apply to and govern your access to and use of this website ("Website"). By using the web website, you agree to be bound by these terms and conditions and to use the website in accordance with these terms and conditions, our Privacy Policy, and any additional terms and conditions that are referenced herein or that otherwise may apply to specific sections of the website, or to products and services that we make available to you through the web website (all of which are deemed part of these terms and conditions). Accessing this website in any manner, whether automated or otherwise, constitutes use of the website and your agreement to be bound by these terms and conditions. If you do not agree, or are dissatisfied with any aspect of these terms and conditions, you may not make use of our website or any of our services.
                            </p>
                            <p><strong>Use of the Website</strong>
                                 Doctor Connect Proprietary Limited, registration number 2015/200155/07 (“Doctor Connect”, “we”, “us”, or “our”) operates the website located at http://connectmed.co.za. We offer online telemedicine services (the “Services”) enabling you (“You”) to report your health history and engage healthcare professionals (“Healthcare professionals”) to obtain medical and healthcare services (“Services”). All of the Healthcare professionals who deliver Services through Doctor Connect are independent professionals solely responsible for the services each provide to you. Doctor Connect does not practice medicine or any other licensed profession, and does not interfere with the practice of medicine or any other licensed profession by healthcare professionals, each of whom is responsible for his or her services and compliance with the requirements applicable to his or her profession and license. Neither Doctor Connect nor any third parties who promote the Services or provide you with a link to the Service shall be liable for any professional advice you obtain from a healthcare professional  via the Services.
                            </p>
                            <p><strong>Website Content</strong>
                                None of the Website content (other than information you receive from Healthcare professionals) should be considered medical advice or an endorsement, representation or warranty that any particular medication or treatment is safe, appropriate, or effective for you.
                            </p>
                            <p><strong>Informed Consent</strong>
                                Telemedicine is the delivery of health care services using interactive audio and video technology, where the patient and the health care professional are not in the same physical location. During your telemedicine consultation with a Healthcare professional , details of your health history and personal health information may be discussed with you through the use of interactive video, audio and other telecommunications technology, and your Healthcare professional  may perform a physical examination through these technologies.
                                Our Services are not intended to replace a primary care physician relationship or be your permanent medical home. You should seek emergency help or follow-up care when recommended by a Healthcare professional or when otherwise needed, and continue to consult with your primary care physician and other healthcare professionals as recommended.
                            </p>
                            <p><strong>Possible Risks:</strong>
                                As with any medical procedure, there are potential risks associated with the use of telemedicine. These risks include, but may not be limited to:
                                In rare cases, the healthcare professional may determine that the transmitted information is of inadequate quality, thus necessitating a rescheduled video consult;
                                Delays in medical evaluation and treatment could occur due to deficiencies or failures of the equipment;
                                In very rare instances, security protocols could fail, causing a breach of privacy of personal medical information;
                                In rare cases, a lack of access to complete medical records may result in adverse drug interactions or allergic reactions or other judgment errors;
                            </p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-white" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
                </div>
                <%= f.submit "Register", :class => 'btn btn-primary block full-width m-b' %>
            <% end %>
            <p class="text-muted text-center"><small>Already have an account?</small></p>
            <a class="btn btn-sm btn-white btn-block" href="<%= url_for patients_signin_path %>">Login</a>
            <p class="m-t"> <small>ConnectMed &copy; 2015</small> </p>
        </div>
    </div>
